
{% extends 'base.html.twig' %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.3.1.js">  </script>

 <div class="row">
   <div class="col-12 col-sm-12 col-md-12 col-lg-7">
        <img src="{{ image }}" class="col-lg-12" id="profile_pic">
        <br><br><br>
    {%include 'agenda/agenda.html'%}
   </div>
   <div class="col-12 col-sm-12 col-md-12 col-lg-5">
        <div class="card text-white bg-success mb-3" >
            <div class="card-header">
            {% if subject != 'rien'%}
               Professeur de {{subject}} jusqu'au niveau {{level}}
            {%endif%}
            </div>

            <div class="card-body">
                <h4 class="card-title">{{ firstname }}</h4>
                <p class="card-text">{{ description }} </p>
            </div>

          </div>

          <div class="card text-white bg-warning mb-3" >
            <div class="card-header">Contact</div>
            <div class="card-body">
              <h4 class="card-title">Email</h4>
              <p class="card-text">Tu peux me joindre par mail : <strong>{{ email }} </strong></p>
              {%if phoneNumber%}
                 <p class="card-text"> et me contacter au numéro : <strong> {{ phoneNumber }}</strong>.</p>
              {%endif%}
              {%if address%}
                 <p class="card-text"> Je donne des cours à l'adresse suivante : <strong> {{ address }}</strong>.</p>
              {%endif%}
            </div>
          </div>

      <div class="card text-white bg-dark mb-3">
          <div class="card-header"> Mes qualités </div>
          <div class="card-body">
            <h4 class="card-title"> Je suis </h4>
            <p class="card-text"><button type="button" id="show2" class="btn btn-danger  col-12 col-sm-12 col-md-12 col-lg-12"> {{ quality1 }}</button></p>
             <p class="card-text"> <button type="button" id="show1" class="btn btn-secondary  col-12 col-sm-12 col-md-12 col-lg-12"> {{ quality2 }}</button></p>
              <p class="card-text"><button type="button" id="show3" class="btn btn-primary col-12 col-sm-12 col-md-12 col-lg-12"> {{quality3 }} </button></p>
               <p class="card-text"><button type="button" id="show4" class="btn btn-success  col-12 col-sm-12 col-md-12 col-lg-12"> {{ quality4 }} </button></p>
          </div>
        </div>
   </div>
 </div>



<script>
  function getWeekNumber(d) {
    d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
    d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));
    var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
    // Calculate full weeks to nearest Thursday
    var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);
    return [d.getUTCFullYear(), weekNo];
}

  var result = getWeekNumber(new Date());
console.log('It\'s currently week ' + result[1] + ' of ' + result[0]);
 $( '#week' ).text("Semaine n°" + result[1]);
 $actual_week = result[1];
  //RAFRAICHIT L'AGENDA SELON LA SEMAINE
function updateAvailabilityByWeek($week){
    $.ajax({
        url:'/ajax_agenda_availabilities',
        type: "POST",
        dataType: "json",
        data: {
            "week": $week,
            "username": "{{username}}",
        },
        async: true,
        success: function (data)
        {
            console.log(data.availabilities)
            data.availabilities.forEach(function(element){
                console.log(element);
                $("#"+element).removeClass("btn-secondary");
                $("#"+element).addClass("btn-success");

            });
            data.rdvs_as_teacher.forEach(function(element){
                console.log(element);
                $("#"+element).removeClass("btn-secondary");
                $("#"+element).removeClass("btn-sucess");
                $("#"+element).addClass("btn-warning");

            });

        },
        error : function(err){
          alert(err)
        }
     })
}

updateAvailabilityByWeek($actual_week);




function next_week(){
  console.log("Next week");
  $val = $( '#week' ).text().replace( /^\D+/g, '');
  if($val != 53){
     $val++;
     $( '#week' ).text("Semaine n°" + $val);
     refreshAgenda();
    updateAvailabilityByWeek($val);

  }
}

function week_before(){
  console.log("Week before");
  $val = $( '#week' ).text().replace( /^\D+/g, '');
  if($val != 0){
    $val--;
    $( '#week' ).text("Semaine n°" + $val);
    refreshAgenda();
    updateAvailabilityByWeek($val);

  }
}

function changeState($begin_rdv){
  //IF A DECOMMNTE PLUS TARD
  if("{{app.user.username}}" != "{{username}}"){

      if($("#"+$begin_rdv).hasClass('btn-success')){
        $("#"+$begin_rdv).removeClass('btn-success');
          $week = $( '#week' ).text().replace( /^\D+/g, '');
           console.log("On peut modifier");
           $.ajax({
            url:'/ajax_add_rdv',
            type: "POST",
            dataType: "json",
            data: {
                "student": "{{app.user.username}}",
                "teacher": "{{username}}",
                "week": $week,
                "begin_rdv": $begin_rdv
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $( '#message_change' ).text("Nouveau rendez vous pris avec succès");
                $('#message_change').css('color','green');
                updateAvailabilityByWeek($week);
            },
            error : function(err){
              alert(err)
            }
         })
      }else{
         $( '#message_change' ).text("{{username}}" + " n\'est pas disponible à l'heure demandée.");
          $('#message_change').css('color','red');


      }

  }else{
         $( '#message_change' ).text("Vous ne pouvez pas prendre rendez-vous avec vous-même");
         $('#message_change').css('color','red');
   }
}

function refreshAgenda(){
  for($i = 1; $i < 21; $i++){
    document.getElementById('lu'+$i).className = "btn btn-secondary  col-12 col-sm-2 col-md-2 col-lg-12";
    document.getElementById('ma'+$i).className = "btn btn-secondary  col-12 col-sm-2 col-md-2 col-lg-12";
    document.getElementById('me'+$i).className = "btn btn-secondary  col-12 col-sm-2 col-md-2 col-lg-12";
    document.getElementById('je'+$i).className = "btn btn-secondary  col-12 col-sm-2 col-md-2 col-lg-12";
    document.getElementById('ve'+$i).className = "btn btn-secondary  col-12 col-sm-2 col-md-2 col-lg-12";
    document.getElementById('sa'+$i).className = "btn btn-secondary  col-12 col-sm-2 col-md-2 col-lg-12";
  }

}



</script>


{% endblock %}


